// Main colours
$main-colour: #e36c66;
$main-colour-active: #9b4743;
$white: #fff;
$black: #000;
$light-mode-font: #373030;
$dark-mode-font: #b9b3b3;

// Detail colours
$shadow: #c5c5c5;
$empty-star: #cccccc;
$full-star: #ffca08;
$menu-button: #5d5958;
$menu-background: rgba(218, 216, 251, 0.2);

// Themes
$themes: (
  light: (
    background: $white,
    font-color: $light-mode-font,
    card-bg: $white,
    play-btn: $black,
    shadow: $shadow,
    menu-button: $menu-button,
    menu-background: $menu-background,
    evo-text: $black,
    evo-text-outline: none,
    theme-toggle: #f9c71d
  ),
  dark: (
    background: #1a1a1a,
    font-color: $dark-mode-font,
    card-bg: #252525,
    play-btn: $white,
    shadow: #514d4d,
    menu-button: $shadow,
    menu-background: rgba(37, 37, 37, 0.3),
    evo-text: $white,
    evo-text-outline: (1px 1px 1px rgba(0, 0, 0, 0.8), -1px -1px 1px rgba(0, 0, 0, 0.8)),
    theme-toggle: #cac68e
  )
);

// Type chart colours
$positive-stripe: #d9f7bb;
$positive-stripe-alt: #d5f1b6;
$positive-stripe-border: #96e34a;
$negative-stripe: #ffdbda;
$negative-stripe-alt: #fad7d3;
$negative-stripe-border: #ff9794;
$immune-stripe: #383a39;
$immune-stripe-alt: #252628;
$immune-stripe-border: #191a19;

// Type colours
$normal: #d3d4d3;
$fighting: #ffc58a;
$flying: #c5dff8;
$poison: #cca7e8;
$ground: #cdaf99;
$rock: #dad8c6;
$bug: #cdd495;
$ghost: #bda8bd;
$steel: #b6d4de;
$fire: #f49c9d;
$water: #9dc5f8;
$grass: #a8d49d;
$electric: #fde28a;
$psychic: #f8a8c2;
$ice: #a7edff;
$dragon: #afb7f1;
$dark: #afa8a7;
$fairy: #f8bef8;

$radar-normal: rgba(211, 212, 211, 0.2);
$radar-fighting: rgb(255, 197, 138, 0.2);
$radar-flying: rgb(197, 223, 248, 0.2);
$radar-poison: rgb(204, 167, 232, 0.2);
$radar-ground: rgb(205, 175, 153, 0.2);
$radar-rock: rgb(218, 216, 198, 0.2);
$radar-bug: rgb(205, 212, 149, 0.2);
$radar-ghost: rgb(189, 168, 189, 0.2);
$radar-steel: rgb(182, 212, 222, 0.2);
$radar-fire: rgb(244, 156, 157, 0.2);
$radar-water: rgb(157, 197, 248, 0.2);
$radar-grass: rgb(168, 212, 157, 0.2);
$radar-electric: rgb(253, 226, 138, 0.2);
$radar-psychic: rgb(248, 168, 194, 0.2);
$radar-ice: rgb(167, 237, 255, 0.2);
$radar-dragon: rgb(175, 183, 241, 0.2);
$radar-dark: rgb(175, 168, 167, 0.2);
$radar-fairy: rgb(248, 190, 248, 0.2);

:root {
  --type-normal: #{$normal};
  --type-fighting: #{$fighting};
  --type-flying: #{$flying};
  --type-poison: #{$poison};
  --type-ground: #{$ground};
  --type-rock: #{$rock};
  --type-bug: #{$bug};
  --type-ghost: #{$ghost};
  --type-steel: #{$steel};
  --type-fire: #{$fire};
  --type-water: #{$water};
  --type-grass: #{$grass};
  --type-electric: #{$electric};
  --type-psychic: #{$psychic};
  --type-ice: #{$ice};
  --type-dragon: #{$dragon};
  --type-dark: #{$dark};
  --type-fairy: #{$fairy};

  --radar-normal: #{$radar-normal};
  --radar-fighting: #{$radar-fighting};
  --radar-flying: #{$radar-flying};
  --radar-poison: #{$radar-poison};
  --radar-ground: #{$radar-ground};
  --radar-rock: #{$radar-rock};
  --radar-bug: #{$radar-bug};
  --radar-ghost: #{$radar-ghost};
  --radar-steel: #{$radar-steel};
  --radar-fire: #{$radar-fire};
  --radar-water: #{$radar-water};
  --radar-grass: #{$radar-grass};
  --radar-electric: #{$radar-electric};
  --radar-psychic: #{$radar-psychic};
  --radar-ice: #{$radar-ice};
  --radar-dragon: #{$radar-dragon};
  --radar-dark: #{$radar-dark};
  --radar-fairy: #{$radar-fairy};
}

// Z-index layers
$z-layers: (
  "bottom": -1,
  "default": 1,
  "middle": 2,
  "top": 3
);

// Screen breakpoints
$breakpoints: (
  "evo-min": 600px,
  "evo-max": 599px,
  "sm": 767px,
  "md": 768px,
);

// Font family
$font-stack-oswald: (
  300: "../fonts/Oswald-Light.woff2",
  400: "../fonts/Oswald-Regular.woff2",
  600: "../fonts/Oswald-Bold.woff2"
);