@use "index" as *;
@include generate-font-face("Oswald", $font-stack-oswald);
@include generate-themes($themes);

*, *::before, *::after {
  @include transition-multi(0.5s, ease-in-out, background-color, border-color, box-shadow, color);
}

html,
body {
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  height: 100%;
  background-color: var(--background);
  a {
    text-decoration: none;
  }
  p,
  a,
  span,
  h1,
  h2,
  h3,
  label {
    color: var(--font-color);
  }
}


.blur {
  backdrop-filter: blur(4px);
}

.loading {
  font-size: 3rem;
  position: absolute;
  left: 50%;
  top: 50%;
  color: var(--font-color);
  transform: translate(-50%, -50%);
  img {
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

select {
  @include mq("sm", "max") {
    padding: 7px 5px;
  }
}

header {
  background: $main-colour;
  color: white;
  z-index: z("top");
  border-bottom: 2px solid $black;
  position: sticky;
  top: 0;
  height: 25px;
  &:after {
    bottom: -15px;
    content: "";
    background: $white;
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 100px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid $black;
  }
}

header,
footer {
  width: 100%;
}

footer {
  position: fixed;
  border-top: 3px solid var(--shadow);
  bottom: 0;
  background-color: var(--background);
  z-index: z("middle");
  text-align: right;
  height: 45px;
  @include flex-center($display: flex, $justify: space-between, $align: center);
  span {
    padding-left: 14px;
    img {
      height: 20px;
      vertical-align: bottom;
    }
  }
}

.theme-toggle {
  @include flex-center($display: flex, $align: center, $gap: 14px);
  background: none;
  border: none;
  cursor: pointer;
  padding-right: 4px;
  position: relative;
  height: 44px;
  @include transition-multi(0.5s, ease-in-out, transform);

  &:hover {
    transform: scale(1.1);
  }
}

.sun-moon-container {
  position: relative;
  width: 24px;
  height: 24px;
}

.main-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: var(--theme-toggle);
  border-radius: 50%;
  @include transition-multi(0.4s, ease-in-out, all);
  &::after {
    content: '';
    position: absolute;
    top: -4px;
    right: -4px;
    width: 20px;
    height: 20px;
    background-color: var(--background);
    border-radius: 50%;
    @include transition-multi(0.4s, ease, all);
    transform: scale(0);
  }
}

.sun-rays {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px dashed var(--theme-toggle);
  border-radius: 50%;
  @include transition-multi(0.4s, ease-in-out, all);
  box-sizing: border-box;
  transform: scale(1) rotate(0deg);
}
[data-theme='dark'] {
  .main-circle {
    transform: translate(-50%, -50%) rotate(20deg);
    &::after {
      transform: scale(1);
    }
  }
  .sun-rays {
    transform: scale(0) rotate(180deg);
    opacity: 0;
  }
}

p,
body {
  margin: 0;
}

#root {
  height: 100%;
  box-sizing: content-box;
}

.damageContainer {
  @include flex-center($display: grid, $gap: 4px);
  grid-template-columns: 1fr 1fr;
  margin-top: 8px;
  .doubleTo,
  .halfFrom,
  .quarterFrom {
    @include type-stripe($positive-stripe, $positive-stripe-alt, $positive-stripe-border);
  }
  .doubleFrom,
  .halfTo,
  .quadFrom {
    @include type-stripe($negative-stripe, $negative-stripe-alt, $negative-stripe-border);
  }
  .noDamageFrom,
  .noDamageTo {
    @include type-stripe($immune-stripe, $immune-stripe-alt, $immune-stripe-border);
    padding: 0 7px;
    .damageTypeContainer {
      align-items: center;
    }
    .damageTitle {
      color: $white;
    }
    @include mq("sm", "max") {
      padding: 0 7px 7px;
      .damageTypeContainer {
        @include flex-center($direction: column);
      }
    }
  }
  .doubleTo,
  .halfFrom,
  .doubleFrom,
  .noDamageTo,
  .noDamageFrom,
  .halfTo,
  .quarterFrom {
    padding: 0 7px 7px;
    &:not(.noDamageTo, .noDamageFrom) .damageTitle {
      color: $black;
      margin-bottom: 4px;
    }
  }
  .noDamageTo {
    .damageTypeContainer {
      @include flex-center($direction: column, $gap: 8px);
    }
    .noDamageContainer {
      @include flex-center($display: flex, $gap: 10px, $align: center);
      .damagelessParent {
        font-size: 1.2rem;
        font-weight: bold;
        line-height: 16px;
      }
      span {
        color: $shadow;
      }
    }
  }
  .damageInfo {
    text-align: center;
    border-radius: 8px;
    background-size: 10px 10px;
    .damageTitle {
      font-size: 1.5rem;
      @include mq("sm", "max") {
        margin-bottom: 4px;
      }
      .greenSpan {
        color: green;
      }
      .redSpan {
        color: red;
      }
    }
  }
  .damageInfo:last-child:nth-child(odd) {
    grid-column: 1 / -1;
    justify-self: center;
    width: calc(50% - 2px);
  }
  .damageTypeContainer {
    @include flex-center($display: flex, $gap: 4px 5px, $justify: center, $wrap: wrap);
    .pokeType {
      @include type(
        $bg-img: var(--bg-img),
        $bg-size: 102px,
        $bg-repeat: no-repeat,
        $height: 20px,
        $width: auto,
        $radius: 17px,
        $size: 1rem,
        $weight: bold,
        $padding: 0 0.75rem 0 2rem,
        $color: $white,
        $line-height: 18px,
        $shadow: 1px 1px 3px rgb(36, 35, 35)
      );
    }
  }
}