header {
    border-bottom: 1px solid black;
    background: #E36C66;
    color: white;
}
header, footer {
    width: 100%;
}

footer {
    border-top: 1px solid black;
    position: fixed;
    bottom: 0;
    background-color: #fff;
}

p, body{
    margin: 0;
}
html {
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}