.evoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @media (min-width: 600px) {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    .applinFamily:nth-child(3) {
      grid-row-start: 2;
      grid-row-end: 3;
    }
    .multiEvolutionContainer:nth-child(2), 
    .multiEvolutionContainer:nth-child(1) {
      grid-row-start: 1;
      grid-row-end: 3;
    }
    .multiEvolutionContainer:nth-child(4) {
      grid-column-start: 3;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 2;
    }
  }
  @media (max-width: 599px) {
    flex-direction: column;
    gap: 1rem;
    .multiEvolutionContainer + .multiEvolutionContainer { 
      border-right: 2px solid #cbcbcb;
      position: relative;
      border-radius: 23px;
    }
    .multiEvolutionContainer:nth-child(1) {
      margin-right: Calc(100% - 144px);
    }
    .multiEvolutionContainer:nth-child(3), .multiEvolutionContainer:nth-child(4) {
      margin-left: Calc(100% - 199px)
    }
  }
}
.evoChain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.evolveParamsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  cursor: default;
}
.evolveType {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 15px;
  background: var(--main-colour);
  width: 25px;
  position: relative;
  @media (min-width: 600px) {
    gap: 10px;
  }
  .level-up, .item-use, .trade, .spin, .recoil-damage, .agile-style, .strong-style, .shed, .use-move, .three-critical, .take-damage, .gimmmighoul-coins, .happiness, .kubfu-item, .beauty, .time, .gender, .upside-down, .three-defeated-bisharp {
    position: absolute;
    z-index: 1;
  }
  .level-up {
    top: -19px;
    left: -7px;
    .happiness, .beauty {
      width: 100px;
      top: 7px;
      left: -10px;
      img {
        height: 12px;
      }
      img:only-of-type{
        display: block;
      }
      img:last-of-type {
        margin-left: 5px;
      }
      img:first-child {
        margin-left: 24px;
      }
      p {
        font-weight: 400;
        line-height: 14px;
      }
    }
    .time, .gender, .upside-down {
      width: 100px;
      top: 16px;
      left: -10px;
      img:only-of-type{
        vertical-align: middle;
        &+ p{
          margin-left: 7px;
        }
      }
      img:last-of-type {
        margin-left: 5px;
      }
      img:first-child:not(:only-of-type) {
        margin-left: 10px;
      }
      img {
        height: 12px;
      }
      p {
        display: inline-block;
        font-weight: 400;
        line-height: 14px;
      }
    }
    .upside-down img {
      height: 16px;
    }
    &:not(:has(.happiness, .beauty, .time, .gender, .upside-down)) {
      img {
        position: absolute;
      }
      img:last-of-type {
        height: 16px;
        top: 30px;
        left: 30px;
      }
      img:first-child {
        left: 10px;
        top: 20px;
        height: 20px;
      }
      p {
        position: absolute;
        font-weight: 400;
        left: 8px;
        line-height: 16px;
        &.special {
          left: -5px;
          width: 75px;
        }
        &.learn {
          left: -15px;
          width: 100px;
        }
        &.min-steps {
          width: 100px;
          left: -7px;
        }
      }
    }
  }
  .recoil-damage, .agile-style, .strong-style {
    width: 100px;
    left: -25px;
    top: -10px;
    p {
      font-weight: 400;
      line-height: 14px;
    }
  }
  .item-use {
    width: 75px;
    left: -10px;
    top: -15px;
    img:only-of-type{
      vertical-align: middle;
      &+ p{
        margin-left: 7px;
      }
    }
    img:last-of-type {
      margin-left: 5px;
    }
    img:first-of-type:not(:only-of-type) {
      margin-left: 10px;
    }
    img {
      height: 16px;
    }
    p {
      display: inline-block;
      font-weight: 400;
      line-height: 14px;
    }
  }
  .trade {
    left: -10px;
    top: -30px;
    width: 75px;
    img:last-of-type {
      height: 16px;
      margin-left: 5px;
    }
    img:first-child {
      height: 28px;
      margin-left: 5px;
    }
    p {
      font-weight: 400;
      line-height: 14px;
    }
  }
  .spin {
    top: -20px;
    left: -10px;
    width: 100px;
    img {
      margin-left: 10px;
      display: block;
      height: 14px;
    }
    p {
      line-height: 14px;
    }
  }
  .shed {
    left: -10px;
    img {
      height: 16px;
      margin-left: 15px;
    }
    p {
      width: 100px;
      line-height: 13px;
    }
  }
  .three-critical, .take-damage {
    p {
      position: absolute;
      font-weight: 400;
      width: 100px;
      top: -16px;
      left: -40px;
      line-height: 16px;
      text-align: center;
    }
  }
  .use-move, .gimmmighoul-coins, .three-defeated-bisharp {
    width: 80px;
    left: -15px;
    p {
      font-weight: 400;
      line-height: 14px;
    }
  }
  .kubfu-item {
    left: -10px;
    width: 75px;
    img {
      height: 15px;
      margin-left: 15px;
    }
    p {
      line-height: 14px;
      margin-top: -10px;
    }
  }
  &:after {
    content: "";
    border-top: 15px solid var(--main-colour);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 0;
    transform: rotateZ(270deg) translateY(17.33px);
    display: inline-block;
    position: absolute;
    top: 0px;
  }
}

.evolveType div {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.evolveTo {
  display: flex;
  flex-direction: column;
}
@media (max-width: 480px) {
  .firstEvo {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}
