@use "index" as *;

.evoContainer {
  @include flex-center($justify: center, $align: center, $direction: row, $gap: 14px);
  .multiEvolutionContainer {
    border-color: $shadow;
  }
  @include mq("evo-min", "min") {
    @include flex-center($display: grid);
    grid-template-columns: auto auto auto;
    .applinFamily:nth-child(3) {
      grid-row-start: 2;
      grid-row-end: 3;
    }
    .multiEvolutionContainer:nth-child(2),
    .multiEvolutionContainer:nth-child(1) {
      grid-row-start: 1;
      grid-row-end: 3;
    }
    .multiEvolutionContainer:nth-child(4) {
      grid-column-start: 3;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 2;
    }
  }
  @include mq("evo-max", "max") {
    @include flex-center($display: flex, $direction: column);
    .multiEvolutionContainer+.multiEvolutionContainer {
      border-right: 2px solid $shadow;
      position: relative;
      border-radius: 23px;
    }
    .multiEvolutionContainer:nth-child(1) {
      margin-right: Calc(100% - 144px);
    }
    .multiEvolutionContainer:nth-child(3),
    .multiEvolutionContainer:nth-child(4) {
      margin-left: Calc(100% - 199px)
    }
  }
}

.evoChain {
  @include flex-center($display: flex, $justify: center, $align: center, $direction: row, $gap: 28px);
}

.evolveParamsContainer {
  @include flex-center($display: flex, $direction: column, $gap: 28px);
  cursor: default;
  p {
    color: var(--evo-text);
    text-shadow: var(--evo-text-outline);
    @include transition-multi(0.5s, ease-in-out, text-shadow, color);
  }
}

.evolveType {
  @include flex-center($display: flex, $justify: center, $direction: column);
  height: 15px;
  background: var(--main-colour);
  width: 25px;
  position: relative;
  @include mq("evo-min", "min") {
    @include flex-center($gap: 10px);  
    gap: 10px;
  }
  .level-up,
  .item-use,
  .trade,
  .spin,
  .recoil-damage,
  .agile-style,
  .strong-style,
  .shed,
  .use-move,
  .three-critical,
  .take-damage,
  .gimmmighoul-coins,
  .happiness,
  .kubfu-item,
  .beauty,
  .time,
  .gender,
  .upside-down,
  .three-defeated-bisharp,
  .know-move-type {
    position: absolute;
    z-index: z("default");
  }
  .level-up {
    top: -19px;
    left: -7px;
    .happiness,
    .beauty {
      width: 100px;
      top: 7px;
      left: -10px;
      img {
        height: 12px;
      }
      img:only-of-type {
        display: block;
      }
      img:last-of-type {
        margin-left: 5px;
      }
      img:first-child {
        margin-left: 24px;
      }
      p {
        font-weight: 400;
        line-height: 14px;
      }
    }
    .time,
    .gender,
    .upside-down,
    .move-type,
    .know-move-type {
      width: 100px;
      top: 16px;
      left: -10px;
      img:only-of-type {
        vertical-align: middle;
        &+p {
          margin-left: 7px;
        }
      }
      img:last-of-type {
        margin-left: 5px;
      }
      img:first-child:not(:only-of-type) {
        margin-left: 10px;
      }
      img {
        height: 12px;
      }
      p {
        display: inline-block;
        font-weight: 400;
        line-height: 14px;
      }
    }
    .upside-down img {
      height: 16px;
    }
    &:not(:has(.happiness, .beauty, .time, .gender, .upside-down)) {
      img {
        position: absolute;
      }
      img:last-of-type {
        height: 16px;
        top: 30px;
        left: 30px;
      }
      img:first-child {
        left: 10px;
        top: 20px;
        height: 20px;
      }
      p {
        position: absolute;
        font-weight: 400;
        left: 8px;
        line-height: 16px;
        &.special {
          left: -5px;
          width: 75px;
        }
        &.learn {
          left: -15px;
          width: 100px;
        }
        &.min-steps {
          width: 100px;
          left: -7px;
        }
      }
    }
  }
  .recoil-damage,
  .agile-style,
  .strong-style {
    width: 100px;
    left: -25px;
    top: -10px;
    p {
      font-weight: 400;
      line-height: 14px;
    }
  }
  .item-use {
    width: 75px;
    left: -10px;
    top: -15px;
    img:only-of-type {
      vertical-align: middle;
      &+p {
        margin-left: 7px;
      }
    }
    img:last-of-type {
      margin-left: 5px;
    }
    img:first-of-type:not(:only-of-type) {
      margin-left: 10px;
    }
    img {
      height: 16px;
    }
    p {
      display: inline-block;
      font-weight: 400;
      line-height: 14px;
    }
  }
  .trade {
    left: -10px;
    top: -30px;
    width: 75px;
    img:last-of-type {
      height: 16px;
      margin-left: 5px;
    }
    img:first-child {
      height: 28px;
      margin-left: 5px;
    }
    p {
      font-weight: 400;
      line-height: 14px;
    }
  }
  .spin {
    top: -20px;
    left: -10px;
    width: 100px;
    img {
      margin-left: 10px;
      display: block;
      height: 14px;
    }
    p {
      line-height: 14px;
    }
  }
  .shed {
    left: -10px;
    img {
      height: 16px;
      margin-left: 15px;
    }
    p {
      width: 100px;
      line-height: 13px;
    }
  }
  .three-critical,
  .take-damage {
    p {
      position: absolute;
      font-weight: 400;
      width: 100px;
      top: -16px;
      left: -40px;
      line-height: 16px;
      text-align: center;
    }
  }
  .use-move,
  .gimmmighoul-coins,
  .three-defeated-bisharp {
    width: 80px;
    left: -15px;
    p {
      font-weight: 400;
      line-height: 14px;
    }
  }
  .kubfu-item {
    left: -10px;
    width: 75px;
    img {
      height: 15px;
      margin-left: 15px;
    }
    p {
      line-height: 14px;
      margin-top: -10px;
    }
  }
  &:after {
    content: "";
    @include triangle(
      $border-top: 15px solid transparent,
      $border-left: 15px solid var(--main-colour),
      $border-bottom: 15px solid transparent,
      $position: absolute,
      $top: -50%,
      $left: 100%
    );
  }
}

.evolveType div {
  @include flex-center($display: flex, $justify: space-evenly, $align: center, $grow: 1);
}