.cardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 29px;
    .card {
        min-width: 200px;
        height: 200px;
        text-align: center;
        border-radius: 10px;
        transition: box-shadow 0.35s;
        transition-timing-function: ease-in-out;
        margin-bottom: 10px;
        &:hover {
            cursor: pointer;
            box-shadow: 0 0 20px 6px #c5c5c5;
            p {
                &:after {
                    width: 36px;
                }
            }
        }
        &:active {
            box-shadow: inset 0 0 20px 6px #c5c5c5;
        }
        a {
            padding: 10px;
            display: block;
            height: inherit;
            text-decoration: none;
            color: #373030;
        }
        p {
            font-weight: 600;
            position: relative;
            span {
                font-weight: 300;
                font-size: 2rem;
            }
            &:after {
                content: "";
                width: 0;
                height: 3px;
                background: #E36C66;
                position: absolute;
                bottom: -5px;
                left: 50%;
                transform: translateX(-50%);
                transition: width 0.35s;
                transition-timing-function: ease-in-out;
            }
        }
    }
}

.openContainer {
    position: fixed;
    left: 0;
    width: 8px;
    bottom: 49px;
    height: 51px;
    padding: 0 1rem;
    border: 2px solid #000000;
    background: #fff;
    border-radius: 0 1rem 0 0;
    padding-left: 3rem;
    font-size: 2rem;
    z-index: 2;
    display: none;
    @media screen and (max-width: 725px){
        display: block;
    }
    .openMenu,
    .openMenu:before,
    .openMenu:after {
        content: '';
        position: absolute;
        left: 0;
        display: block;
        text-indent: -9999px;
        background-color: #5d5958;
        height: .5rem;
        width: 100%;
        border-radius: 13px;
    }
    .openMenu {
       top: 0.5rem;
       width: 3rem;
       margin-left: 0.7rem;
       &:before {
         top: 1rem;
       }
       &:after {
         top: 2rem;
       }
     }
   
}
.filterContainer{
    position: sticky;
    top: 76px;
    z-index: 3;
    background: #dad8fb38;
    padding: 0.5rem 0;
    backdrop-filter: blur(10px);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    text-align: center;
    border-radius: 0 0 10px 10px;

    flex-direction: row;
    flex-wrap: wrap;
    .closeMenu {
        width: 100%;
        display: none;
        padding-top: 2rem;
        text-align: center;
        font-size: 2rem;
        text-decoration: underline;
        font-style: italic;
        position: relative;
    }
    .filterMenu {
        h3{
            margin: 0 0 8px;
        }
    }
    @media screen and (max-width: 725px){
        position: fixed;
        padding: 0;
        bottom: 0;
        top: auto;
        width: 100%;
        transition:
        left 0.5s;

        border-radius: 10px 10px 0 0;
        padding: 2rem 0;
        &.open {
            left: 0;
        }
        &.closed {
            left: -100%;
        }
        .closeMenu {
            display: block;
        }
        .filterMenu {
            width: Calc(50% - 25px);
            select {
                width: 100%;
            }
        }
    }
}