@use "index" as *;

.cardList {
  @include flex-center($display: flex, $wrap: wrap, $justify: space-around, $direction: row);
  overflow: hidden;
  height: Calc(100dvh - 185px);
  .card {
    min-width: 175px;
    height: 165px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
    margin-top: 20px;
    background: var(--card-bg);
    .types-container {
      @include flex-center($display: flex, $gap: 5px, $justify: center);
      height: 0;
      overflow: hidden;
      @include transition-multi(0.35s, ease-in-out, height);
      .pokeType {
        @include type(
          $bg-img: var(--bg-img),
          $bg-size: 7.286rem,
          $bg-repeat: no-repeat,
          $height: 1.429rem,
          $width: 2.286rem,
          $radius: 1.214rem
        );
      }
    }
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 20px 6px var(--shadow);
      .types-container {
        height: 20px;
      }
      p:after {
        width: 36px;
      }
    }
    &:active {
      box-shadow: inset 0 0 20px 6px var(--shadow);
    }
    .lazyImg {
      @include flex-center($display: flex, $justify: center);
      img {
        display: block;
      }
    }
    p {
      font-weight: 600;
      position: relative;
      span {
        font-weight: 300;
        font-size: 2rem;
      }
    }
    .fav-button {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
      color: $empty-star;
      @include transition-multi(0.25s, ease-in-out, transform);
      &:hover {
        transform: scale(1.2);
      }
      &.active {
        color: $full-star;
        filter: drop-shadow(0 0 2px $empty-star);
      }
    }
  }
  @include mq("sm", "max") {
    height: Calc(100dvh - 125px);
    .card .types-container {
      height: 20px;
    }
  }
}