@use "index" as *;

.chartPopup {
  &.closed {
    display: none;
  }
  &.open {
    display: block;
  }
}

.typeChartMask {
  background: var(--menu-background);
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
  z-index: z("top");
}

.typeChartContainer {
  box-shadow: 0 0 20px 6px var(--shadow);
  background: var(--background);
  position: absolute;
  border-radius: 10px;
  padding: 21px 14px;
  z-index: z("top");
  width: 750px;
  max-width: 90%;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
  h2 {
    margin: 0 0 14px;
  }
  .typeChart {
    @include flex-center($display: flex, $direction: column);
    .primary-type-selector, .addType, .second-type {
      margin-bottom: 14px;
    }
    .second-type {
      @include flex-center($display: flex, $gap: 7px, $align: center);
    }
    .type-selector.secondary-type-selector {
      width: calc(100% - 40px);
      display: inline-block;
    }
    .removeType {
      width: 40px;
      display: inline-block;
      border: none;
      font-size: 2rem;
      background: none;
      color: var(--font-color);
      cursor: pointer;
      @include mq("sm", "max") {
        padding: 0.5rem 0.25rem;
      }
    }
    .addType {
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}