
#chartPopup {
  &.closed {
    display: none;
  }
  &.open {
    display: block;
  }
}
.typeChartMask {
  background: rgba(255, 255, 255, 0.65);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 3;
}
#typeChartContainer {
  box-shadow: 0 0 20px 6px #c5c5c5;
  background: #fff;
  position: absolute;
  border-radius: 10px;
  padding: 1.5rem 1rem;
  z-index: 4;
  width: 750px;
  max-width: 90%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  h2 {
    margin: 0 0 1rem;
  }
  .typeChart {
    display: flex;
    flex-direction: column;
    .type-selector {
      margin-bottom: 1rem;
    }
  }
  #damageContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
    margin-top: 8px;
    #doubleTo, #halfFrom {
      background-image: linear-gradient(135deg, #d9f7bb 25%, #d5f1b6 25%, #d5f1b6 50%, #d9f7bb 50%, #d9f7bb 75%, #d5f1b6 75%, #d5f1b6);
      border: 1px solid #96e34a;
    }
    #doubleFrom, #halfTo {
      background-image: linear-gradient(135deg, #ffdbda 25%, #fad7d3 25%, #fad7d3 50%, #ffdbda 50%, #ffdbda 75%, #fad7d3 75%, #fad7d3);
      border: 1px solid #ff9794;
    }
    #noDamageFrom, #noDamageTo {
      color: white;
      border: 1px solid #191a19;
      background-image: linear-gradient(135deg, #383a39 25%, #252628 25%, #252628 50%, #383a39 50%, #383a39 75%, #252628 75%, #252628);
      padding: 0 0.5rem;
      .damageTypeContainer {
        align-items: center;
      }
      @media screen and (max-width: 725px){
        padding: 0 0.5rem 0.5rem;
        .damageTypeContainer {
          flex-direction: column;
        }
      }
    }
    #doubleTo, #halfFrom, #doubleFrom, #halfTo {
      padding: 0 0.5rem 0.5rem;
      .damageTitle {
        margin-bottom: 0.25rem;
      }
    }
    .damageInfo {
      text-align: center;
      border-radius: 8px;
      background-size: 10px 10px;
      .damageTitle {
        font-size: 1.5rem;
        @media screen and (max-width: 725px){
          margin-bottom: 0.25rem;
        }
        .greenSpan { 
          color: green;
        }
        .redSpan { 
          color: red;
        }
      }
    }
    .damageInfo:last-child:nth-child(odd) {
      grid-column: 1 / -1;
      justify-self: center;
      width: calc(50% - 2px);
    }
    .damageTypeContainer {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 0.3rem 0.35rem;
      .pokeType {
        background-image: var(--bg-img);
        background-size: 102px;
        background-repeat: no-repeat;
        height: 20px;
        width: auto;
        border-radius: 17px;
        font-size: 1rem;
        font-weight: bold;
        padding-left: 2rem;
        padding-right: 0.75rem;
        color: #fff;
        line-height: 18px;
        box-shadow: 1px 1px 3px rgb(36, 35, 35);
      }
    }
  }
}