@use "index" as *;

.viewPokemon {
  margin: 1.5rem 0 2rem;
  padding: 2rem 7% 5rem;
}

.topInfo {
  @include flex-center($display: flex, $align: center, $wrap: wrap, $gap: 5rem);
  border-bottom: 1px solid var(--play-btn);
  @include mq("sm", "max") {
    gap: 0;
    .mainTopInfo {
      max-width: 480px;
      border-bottom: 1px solid var(--play-btn);
      padding-bottom: 1rem;
    }
  }
  @include mq("md", "min") {
    .mainTopInfo {
      max-width: 375px;
    }
    .infoContainer {
      width: Calc(100% - 445px);
    }
  }
  .mainTopInfo {
    width: 100%;
  }
  .nameType {
    @include flex-center($display: flex, $align: baseline, $gap: 10px, $direction: column);
    h1 {
      margin: 0;
      font-size: 1.5rem;
      span {
        font-size: 2.5rem;
        font-weight: 300;
      }
    }
    .viewTypeContainer {
      @include flex-center($display: flex, $gap: 1rem, $wrap: wrap);
    }
    .typeEl {
      @include flex-center($display: flex, $gap: 1rem, $wrap: wrap);
      @include type(
        $bg-img: var(--bg-img),
        $bg-size: 10.286rem,
        $bg-repeat: no-repeat,
        $height: 2rem,
        $radius: 3.571rem,
        $size: 1.5rem,
        $weight: bold,
        $padding: 0 1rem 0 3rem,
        $color: $white,
        $line-height: 1.929rem
      );
    }
  }
  .pokeGallery {
    .image-gallery-thumbnail.active,
    .image-gallery-thumbnail:focus,
    .image-gallery-thumbnail:hover {
      border: 2px solid var(--border-colour);
    }
    .image-gallery-thumbnail {
      cursor: pointer;
      border-radius: 28px;
      width: 80px;
    }
  }
  .pokeAbility {
    .abilityList {
      white-space: pre-line;
      display: grid;
      border: 1px solid $black;
      font-weight: 500;
      margin-bottom: 1rem;
      border-radius: 6px;
      overflow: hidden;
      h3 {
        font-weight: 700;
        margin: 0;
        border-bottom: 1px solid $black;
        background-color: var(--bg-color);
        color: $black;
      }
      p {
        font-family: sans-serif;
      }
      h3,
      p {
        padding: 8px 4px;
      }
    }
    .secretAbility {
      background: $black;
      color: $white;
      padding: 0 13px 1px;
      border-radius: 50px;
      margin-right: .75rem;
      font-family: sans-serif;
    }
  }
  .playBtnContainer {
  @include flex-center($display: flex, $align: center, $gap: 2rem, $wrap: wrap);
    margin-bottom: 1rem;
    color: var(--font-color);
    .pokeCry {
  @include flex-center($display: flex, $align: center, $gap: 1rem);
    }
  }
  .playBtn {
    background: none;
    width: 50px;
    height: 50px;
    border: solid 5px var(--play-btn);
    border-radius: 100%;
    position: relative;
    text-indent: -9999px;
    span {
    @include triangle(
      $width: 0,
      $height: 0,
      $border-top: 15px solid transparent,
      $border-left: 20px solid var(--play-btn),
      $border-bottom: 15px solid transparent,
      $position: absolute,
      $top: 20%,
      $left: 36%
    );
    }
    &:hover {
      background: var(--play-color);
      cursor: pointer;
    }
  }
  .return_button {
    border: 0;
    padding: 0;
    background: none;
    font-family: "Oswald";
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    margin-top: 6px;
    text-transform: uppercase;
    color: $white;
    text-shadow: $black 0px 0px 3px;
    z-index: z("middle");
    &:after {
      top: -5px;
      content: "";
      width: 17px;
      height: 23px;
      background: url("../images/masterball.png");
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      z-index: z("bottom");
      background-size: contain;
      background-repeat: no-repeat;
    }
    @include mq("sm", "max") {
      position: fixed;
      bottom: 50px;
      padding: 16px;
      backdrop-filter: blur(1px);
      border-radius: 20px;
      overflow: hidden;
      background: $menu-background;
      &:after {
        top: 11px;
      }
    }
    @media screen and (max-width: 560px) {
    }
  }
}

.radarChart {
  background: var(--radar-colour);
  padding: 2rem 7% 5rem;
  .radarContainer {
    position: relative;
    max-width: 400px;
    margin: auto;
    height: 40vh;
    @include transition-multi(0.5s, ease-in-out, opacity, transform);
    animation: fadeIn 0.5s ease-in-out;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}